*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    line-height: 1.8;
}

html{
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}

h3{
    font-size: 40px;
    line-height: 1.5;
}

p{
    font-size: 18px;
}

a{
    text-decoration: none;
    outline: none;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
}

li{
    font-size: 16px;
    font-weight: 700;
}

svg{
    width: 30px;
}





/* cabeçalho */

header{
    width: 22%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.04);
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px;
    padding-bottom: 40px;
}

header #logo{
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
}

header a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header #img{
    width: 160px;
    height: 160px;
    background-image: url(author.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

header ul{
    flex-direction: column;
}

header li{
    height: 28.8px;
    margin-bottom: 15px;
}

header li a{
    color: rgba(0, 0, 0, 0.7);
    transition: color 0.3s ease;
    position: relative;
    padding: 10px 0;
}

header li a:hover{
    color: black;
}

#coloridinho{
    color: black;
}

/* linha */

header li a:after{
    content: "";
    width: 0;
    height: 0.5px;
    transition: 0.3s;
    position: absolute;
    top: 73%;
    background-color: rgba(0, 0, 0, 0.7);
}

header li a:hover::after{
    width: 100%;
    background-color: black;
}

#coloridinho:after{
    content: "";
    width: 100%;
    height: 0.5px;
    position: absolute;
    top: 73%;
    background-color: black;
}

/* baixo */

#baixo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#baixo h3{
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

#baixo form{
    background-color: white;
    border: 1px solid #ece4d5;
    display: flex;
    align-items: center;
}

#baixo input{
    color: rgba(0, 0, 0, 0.4);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: none;
    line-height: 38px;
    outline: none;
    padding: 6px 10px 6px 10px;
}

#baixo ::placeholder{
    color: rgba(0, 0, 0, 0.4);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 0.2px;
}

#div-svg{
    display: flex;
    align-items: center;
    padding-right: 13px;
}

#baixo svg{
    width: 19px;
}





/* main */

main{
    width: 78%;
    display: flex;
    flex-direction: column;
}

/* topo */

#topo{
    width: 100%;
    background-color: #ccb78f;
    padding: 60px 27px;
}

#div-antes-texto{
    width: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    padding: 0 15px;
    margin: auto;
}

#div-texto{
    width: 100%;
    max-width: 66.66%;
}

#topo p{
    line-height: 1.3;
    margin-bottom: 10px;
}

#topo span{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-right: 8px;
}

#topo a{
    color: rgba(0, 0, 0, 0.5);
}

#topo h1{
    font-size: 40px;
}





/* imagens */

#imagens{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 27px 12px;
}

.linha{
    width: 100%;
    display: flex;
}

.imagem{
    width: 100%;
    max-width: 33.33%;
    height: 250px;
    background-size: cover;
    background-position: center;
    margin: 0 15px 30px 15px;
}

.imagem a{
    cursor:zoom-in;
}

#img7{
    background-image: url(image_7.jpg);
}

#img8{
    background-image: url(image_8.jpg);
}

#img9{
    background-image: url(image_9.jpg);
}

#img10{
    background-image: url(image_10.jpg);
}

#img11{
    background-image: url(image_11.jpg);
}

#img12{
    background-image: url(image_12.jpg);
}

.escuro{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: end;
    opacity: 0;
    transition: opacity 0.3s ease;
}

a:hover .escuro{
    opacity: 1;
}

.texto-escuro{
    margin: 0 0 24px 24px;
}

.texto-escuro h3{
    color: white;
    font-size: 20px;
    margin-bottom: 14px;
}

.texto-escuro p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}





/* rodapé */

footer{
    background-color: #242423;
    padding: 84px 0;
}

#footer-dentro{
    max-width: 1140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 33px;
    margin: auto;
}

#divs{
    display: flex;
    margin-bottom: 48px;
}

#div1, #div2, #div3{
    max-width: 358px;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 10px;
}

#divs ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer h2{
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 40px;
}

footer p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding: 0 15px;
    margin-bottom: 16px;
}

footer p a{
    transition: all 0.3s ease;
}

footer p a:hover{
    color: white;
    cursor: pointer;
}

footer a{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 500;
}

footer svg{
    width: 17.5px;
    transform: translateY(16%);
}

/* div1 */

#margin-left{
    margin-left: 24px;
}

#div1 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#div1 li{
    width: 33%;
    height: 100px;
}

#div1 a{
    width: 100%;
    height: 100%;
    display: block;
}

.img-centralizada{
    background-size: cover;
    background-position: center;
}

#img1{
    background-image: url(image_1.jpg);
}

#img2{
    background-image: url(image_2.jpg);
}

#img3{
    background-image: url(image_3.jpg);
}

#img4{
    background-image: url(image_4.jpg);
}

#img5{
    background-image: url(image_5.jpg);
}

#img6{
    background-image: url(image_6.jpg);
}

/* div2 */

#div2 span{
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    right: 0;
}

#div2 li{
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 3px 0;
    margin-bottom: 10px;
    position: relative;
}

#div2 a{
    width: 100%;
    display: flex;
}

#sem-borda{
    border: none !important;
}

/* div3 */

#div3 ul{
    display: flex;
    align-items: start;
}

#div3 li{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    margin-bottom: 10px;
}

.branco{
    color: white !important;
}

#div3 a{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
}

#div3 div{
    min-width: 40px;
}

#div3 svg{
    width: 22px;
}

#div3 path{
    stroke-width: 10px;
}